@import url('https://fonts.googleapis.com/css?family=Bungee');

:root {
  /* Globals */
  --primary-color: #545149;
  --primary-background-color: #f4f1ec;
  --font-logo: 'Bungee', sans-serif;

  /* Arrows (nav and back to top) */
  --arrow-button-color: red;
  --arrow-button-hover-color: rgb(230, 54, 54);
}

/* Global styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navigation bar (always at top) */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #FFFFFF;
  background-color: #4056A1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav span {
  font-family: var(--font-logo);
  font-size: xx-large;
  padding-top: 1.5em;
}
 
div {
  padding-top: 1.5em;
  text-align: center;
  cursor: pointer;
}
 
#new-tweet-arrow {
  padding-top: 0.5em;
  color: var(--arrow-button-color);
}
 
#new-tweet-arrow:hover {
  padding-top: 0.5em;
  color: var(--arrow-button-hover-color);
}

/* Header showing user avatar & name */
header.userHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  padding-top: 120px;
  width: 100%;
  background-color: var(--primary-background-color);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

/* Container with new tweet and tweets inside */
main.container {
  width: 90%;
  margin: 0 auto;
}

/* New Tweet Form Elements */
.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form label {
  font-weight: bold;
  padding-bottom: 10px;
}

#tweet-text {
  width: 100%;
  height: 45px;
  background-color: inherit;
  outline: none;
  resize: none;
  border-top: none;
  border-right: none;
  border-bottom: 5px solid var(--primary-color);
  border-left: none;
  font-size: 18px;
  font-weight: bold;
}

p#validation-error {
  display: none;
  color: #c33;
  background-color: #fee;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

#form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

#form-footer  button {
  font-family: var(--font-logo);
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
}

.counter {
  font-family: var(--font-logo);
  margin-right: 10px;
}
      
.counter.negative {
  color: red;
}
